@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-root: #6c584c;
  --color-sectionBg: #BC8A5F;
  --color-h_text: #8B5E34;
  --color-l_text: #F3D5B5;
  --font-extenda: 'Extenda', sans-serif;
  --breakpoint-xl2: 1760px;
}



html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.toast-message {
  background:  rgba(0, 0, 0, 0.2) !important;
  color: #fff !important;
  font-size: 20px !important;
  padding: 30px 20px !important;
}

@font-face {
  font-family: 'Extenda';
  src: url('/fonts/Extenda-40-Hecto.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
